.center {
    display:table;
    margin: auto;
    padding-top:20%;
    
}


.user {
    margin-bottom: 12.5px;
}

.errormsg {
    text-align: center;
}

.login {
    display:table;
    margin:auto;
    margin-top: 15px;
    margin-bottom:20px;
}
