
.logoutbtn {
    margin-left: 20px;
    color:blue;
    text-decoration:underline;
    text-align: right;
    cursor:pointer;
    display:inline;
}
.midtext {
    text-align: center;
}

.logout {
    text-align: right;
    
}

.text-margin {
    margin-left: 4px;
}

.backbtn {
    text-align: center;
    color:blue;
    text-decoration: underline;
    cursor:pointer;
    margin-top: 5px;
}

.logouttext {
    text-align: right;
    display:inline;
}
.table {
    margin: auto;
    padding-top:15%;
    
    
}
.assignmenttable {
    order: 2;
    position: relative;
    margin: auto;
    padding-top: 10%;
    display:none;
}

.assignment {
    color: blue;
    text-decoration:underline;
    cursor:pointer;
}

.bottom {
    display: table;
    margin-top: 10px;
}

.fakebutton {
    width: 75px;
    display: block;
    border-radius: 25px;
    width: 100px;
    height: 35px;
    border:1px, black;
    margin: 15px auto;
    background: white;
}

.fakebutton:hover, .fakebutton:active, .fakebutton:focus-visible {
    background:lightgray;
    
}


.fake {
    padding-top: 40px;
    display: table;
    margin: auto;
}

table {
    margin: auto;
    border: 2px solid;
    border-collapse: collapse;
    letter-spacing: 0.1px;
}

td {
    border:2px solid;
    padding: 10px 20px;
    text-align:start;
}

th {
    border:2px solid;
    padding: 10px 20px;
    text-align:center;
}

.fakeassignment:focus-visible:placeholder-shown{
    border-color:red;
    outline: 0;
}

.fakeassignment:placeholder-shown{
    border-color:red;
    outline: 0;
}

.fakeassignment {
    border-color: lightgreen;
    border-radius:5px;
    outline: 0
}


.fakemark {
    outline:0;
    border-radius:5px;
}

