
.logoutbtn {
    float: right;
    margin-left: 20px;
    color:blue;
    text-decoration:underline;
    cursor:pointer

}
.midtext {
    text-align: center;
}

.text-margin {
    margin-left: 4px;
}

.backbtn {
    text-align: center;
    color:blue;
    text-decoration: underline;
    cursor:pointer;
    margin-top: 5px;
}

.logouttext {
    float:right;
}
.table {
    margin: auto;
    padding-top:15%;
}

.assignmenttable {
    position: relative;
    margin: auto;
    padding-top: 10%;
    display:none;
}

.assignment {
    color: blue;
    text-decoration:underline;
    cursor:pointer;
}

.bottom {
    display: table;
    margin-top: 10px;
}

.fakebutton {
    width: 75px;
    display: block;
    margin: 15px auto;
}

.fake {
    padding-top: 40px;
    display: table;
    margin: auto;
}

table {
    margin: auto;
    
    border: 2px solid;
    border-collapse: collapse;
    letter-spacing: 0.1px;
}

td {
    border:2px solid;
    padding: 10px 20px;
    text-align:start;
}

th {
    border:2px solid;
    padding: 10px 20px;
    text-align:center;
}
